    body{
        text-align: center;
    }
    
    
    h1, h2 {
        color: rgb(63, 95, 63);
    }

    div {
        margin: 10px;
    }
    
    svg{
        background-color: aliceblue;
    }
    #server_names{
        width: 150px;
        height: 150px;
    }
    #graf{
        background-color: rgb(107, 240, 255);
        text-align: center;
    }

    #gResp{
        width: 1000px;
        overflow: hidden;
    }
    #gRespCH1{
        width: 450px;
        float:left;
    }
    #gRespCH2{
        width: 450px;
        float: left;
    }
    #spacer{
        height: 300px;
    }
    .parent {
        text-align: center;
      }
    .child {
        padding-left: 5px;
        display: inline-block;
        vertical-align: text-top;
    }


    button{
        cursor: pointer;
        text-align: center;
    }

    
    table, th, td{
        border-collapse:collapse;
        padding: 6px;
        margin: 6px;
    }
    .main_T th {
        background: rgb(255, 255, 255);
    }
    td{
        padding-right: 5px;
    }
    th {
        background: rgb(184, 200, 243);
        border-style: solid "black";
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        
      }

    #cc{
        background-color: rgb(223, 241, 241);
    }
    
    .myBox {
        border-style: solid;
        text-align: left;
        padding: 10px;
        padding-top: 0px;
        display: inline-block;
        width: 800px;
        height: 200px;
        overflow: scroll;
    }
    .popis{
        font-size: small;
    }


    .alert-button{
        margin-top: 8px;
        width: 80px;
        background-color: #ffffff;
        border: none;
    }

    #alert-container{
        height: 200px;
        width: 100px;
        overflow: scroll;
        border-style: solid;
    }

    #map { 
        height: 800px;
        width: 1100px;
    }
    
    .tabulator-col-sorter{width: 10px;}

    #example-table{
        width: 1000px;
        display: inline-block;
        border-style: solid;
    }

    .tabulator-col-content{
        padding: 0px;
        margin: 0px;
        border: 0px;

    }





    #openNav{
        padding-left: 10px;
        float: left;
        font-size: 30px;
        cursor: pointer;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(147, 146, 146);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      .dropdown-container {
        display: none;
        background-color: rgb(147, 146, 146);
        padding-left: 8px;
      }


      .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
      }

      .fa-caret-down {
        float: right;
        padding-right: 8px;
      }