    body{
        text-align: center;
        background-color: rgb(56, 54, 68);
        color: #ffffff;
    }
    
    #graf, #jsonpar, #map{
      margin-left: 45px;
    }

    h1, h2 {
        color: rgb(255, 255, 255);
        margin-bottom: 0px;
    }

    svg{
        background-color: aliceblue;
    }
    #server_names{
        width: 150px;
        height: 150px;
    }
    #graf{
        background-color: rgb(51, 51, 51);
        text-align: center;
        height: 90%;
    }
    .gRespp{
      text-align: center;
      padding-left: 4%;
      padding-right: 4%;
    }
    #gRespM{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #gResp{
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    #gRespCH1, #gRespCH2{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #spacer{
        height: 1000px;
    }


    button{
        cursor: pointer;
        text-align: center;
        margin: 5px;
        padding: 3px;
    }

    
    table, th, td{
        border-collapse:collapse;
        padding: 6px;
        margin: 3px;
    }

    td{
        padding-right: 5px;
    }
    th {
        background: rgb(56, 54, 68);
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        
      }




    #loadnewserv{
      height: 25px;
    }
    

    #loginForm{
      height: 450px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .logF{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(46, 41, 82);
      padding: 10px;
      border-radius: 20px;
      width: 390px;
    }
    .log{
      height: 30px;
      width: 180px;
      margin: 5px;
    }

    .logF p{
      width: 380px;
    }

    .topLog{
      border-top: 3px solid rgb(255, 255, 255);
      padding-top: 10px;
      border-radius: 2px;

    }
    .botomLog{
      border-bottom: 3px solid rgb(255, 255, 255);
      padding-bottom: 10px;
      border-radius: 2px;
    }


    

    #mapM {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    #map { 
        height: 95%;
        width: 85%;
        position: fixed;
        top: 2%;
        left: 5%;
        bottom: 2%;
        right: 5%;
    }

    #btes{
      position: fixed;
      bottom: 0;
      left: 0px;
    }





/*table*/
.taskTableN{
  overflow: auto;
  height: 485px;
  width: 900px;
  text-align: center;
  display: inline-block;
  position: relative;
  border: 2px solid #d2d2d2;
  border-radius: 20px;
}

.taskTable{
    overflow: auto;
    height: 90%;
    width: 880px;
    text-align: center;
    padding-left: 5px;
    display: inline-block;
    padding-top: 30px;
}
.tabRow{
    border-bottom: 1px solid black;
    height: 50px;
}
.tabRow:hover{
    background-color: rgb(157, 153, 153);
}

th{cursor: pointer;}


#cc {
  position: absolute;
  text-align: right;
  top: 0;
  right: 5px;
  width: 900px;
  background-color: rgba(56, 54, 68, 1);
}
#menuButton{
  margin-right: 600px;
}


#righ {
  text-align: right;
}


#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.1s ease;
  background-color: rgba(56, 54, 68, 1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
}

#menu.visible {
  height: 100%; /* Nastavit výšku menu podle potřeby */
}

#menu > div{
  margin-top: 2%;
  background-color: rgb(56, 54, 68);
  padding: 5%;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}





/* context menu */

 /* Hidden context menu */
 .context-menu {
    display: none;
    position: absolute;
    z-index: 1;
  }

  /* Show context menu on right click */
  .show-context-menu {
    display: block;
  }

  /* Context menu items */
  .context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Context menu items */
  .context-menu li {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    color: black;
    padding: 8px 12px;
    cursor: pointer;
    text-align: left;
  }

  /* Highlight context menu item on hover */
  .context-menu li:hover {
    background-color: #ddd;
  }

  .arrow-up {
    content: '\2191'; /* kód pro šipku nahoru */
  }
  .arrow-down {
    content: '\2193'; /* kód pro šipku dolů */
  }


  /*menu v grafech*/
  #menu-G {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 0px;
    overflow: hidden;
    transition: height 0.1s ease;
    background-color: rgba(45, 42, 79, 1);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    z-index: 10;
    border-radius: 20px;
  }
  



  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(46, 41, 82);
    color: white;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    overflow-y: scroll;
    white-space: nowrap;
  }
  
  
  .sidenav a:hover {
    color: #7f7e7e;
    background-color: #f4f4f4;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }



  .sidebarr {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: rgb(46, 41, 82);
    color: white;
    padding-top: 60px;
    z-index: 1;
  }


  #hider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    height: 100%;
  }
  
  .sidebarr a:hover {
    color: #7f7e7e;
    background-color: #d2d2d2;
  }

  .sidebarr a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }



  .closebtn {
    position: absolute;
    width: 100%;
    top: 0;
    margin-left: 0;
    padding-left: 0;
    background-color: "";
  }

  .sidebarr .closebtn{
    width: 35px;
  }
  .icons {
    padding-right: 10px;
  }
  hr{
    margin: 5px;
    border: 2px solid #005223;
    border-radius: 2px;
  }

  img{
    cursor: pointer;
  }
  .inptask {
    width: 150px;
    padding: 5px;
    height: 30px;
  }
  .inptask, #s_color{
    padding: 0px;
    height: 30px;
  }

