    body{
        text-align: center;
        background-color: rgb(56, 54, 68);
        color: #ffffff;
    }
    
    
    h1, h2 {
        color: rgb(81, 120, 81);
    }

    svg{
        background-color: aliceblue;
    }
    #server_names{
        width: 150px;
        height: 150px;
    }
    #graf{
        background-color: rgb(51, 51, 51);
        text-align: center;
    }
    #gRespM{
      width: 1010px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px;
    }
    #gResp{
      width: 1100px;
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    #gRespCH1, #gRespCH2{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #spacer{
        height: 300px;
    }
    .parent {
        text-align: center;
      }
    .child {
        padding-left: 5px;
        display: inline-block;
        vertical-align: text-top;
    }


    button{
        cursor: pointer;
        text-align: center;
        height: 40px;
        margin: 5px;
        padding: 3px;
    }

    
    table, th, td{
        border-collapse:collapse;
        padding: 6px;
        margin: 3px;
    }

    td{
        padding-right: 5px;
    }
    th {
        background: rgb(56, 54, 68);
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        
      }




    #loadnewserv{
      height: 25px;
    }
    



    #loginForm{
      height: 500px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .logF{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .log{
      height: 30px;
      width: 180px;
      margin: 5px;
    }



    

    #mapM {
      margin-top: 380px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    #map { 
        height: 700px;
        width: 80%;
        position: fixed;
        top: 50;
        left: 50;
        bottom: 50;
        right: 50;
    }





    #openNav{
        padding-left: 10px;
        float: left;
        font-size: 30px;
        cursor: pointer;
    }
    #openNav:hover{
      color: aliceblue;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(46, 41, 82);
        color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #7f7e7e;
      }
      .sidenav .closebtn {
        position: absolute;
        width: 220px;
        top: 0;
        right: 0px;
        font-size: 36px;
        margin-left: 0px;
        padding-left: 20px;
      }
      
      .dropdown-container {
        display: none;
        background-color: rgb(46, 41, 82);
        padding-left: 8px;
      }


      .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
      }

      .fa-caret-down {
        float: right;
        padding-right: 8px;
      }



/*table*/
.taskTableN{
  overflow: auto;
  height: 700px;
  width: 900px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.taskTable{
    overflow: auto;
    height: 660px;
    width: 880px;
    text-align: center;
    padding-left: 5px;
    display: inline-block;
    padding-top: 30px;
}
.tabRow{
    border-bottom: 1px solid black;
    height: 50px;
}
.tabRow:hover{
    background-color: rgb(157, 153, 153);
}

th{cursor: pointer;}


#cc {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  width: 900px;
  background-color: rgba(56, 54, 68, 1);
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.1s ease;
  background-color: rgba(56, 54, 68, 0.95);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
}

#menu.visible {
  height: 95%; /* Nastavit výšku menu podle potřeby */
}

#menu > div{
  margin-top: 10%;
  background-color: rgb(56, 54, 68);
  padding: 5%;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}





/* context menu */

 /* Hidden context menu */
 .context-menu {
    display: none;
    position: absolute;
    z-index: 1;
  }

  /* Show context menu on right click */
  .show-context-menu {
    display: block;
  }

  /* Context menu items */
  .context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Context menu items */
  .context-menu li {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    color: black;
    padding: 8px 12px;
    cursor: pointer;
    text-align: left;
  }

  /* Highlight context menu item on hover */
  .context-menu li:hover {
    background-color: #ddd;
  }

  .arrow-up {
    content: '\2191'; /* kód pro šipku nahoru */
  }
  .arrow-down {
    content: '\2193'; /* kód pro šipku dolů */
  }


  /*menu v grafech*/
  #menu-G {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.1s ease;
    background-color: rgba(56, 54, 68, 0.95);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 10;
  }
  
  #menu-G.visible-G {
    height: 95%; /* Nastavit výšku menu podle potřeby */
  }

  .overlay-G {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
  }